.content {
    padding: 20px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #F0113C;
}

.faq-section {
    margin-bottom: 40px;
}

.faq-category {
    margin-bottom: 40px;
}

.faq-category h3 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 15px;
    border-bottom: 2px solid #F0113C;
    padding-bottom: 5px;
    cursor: pointer;
}

.faq-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px; /* Added padding for mobile */
}

.faq-item {
    background-color: #0b0b0b;
    border: 2px solid #F0113C;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq-question {
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    color: white;
    border-bottom: 1px solid #F0113C;
}

.faq-answer {
    padding: 15px; 
    margin: 10px; 
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    list-style-position: inside; 
    padding-left: 20px; 
}

.faq-item.active .faq-answer {
    animation: dropdown-open 0.5s forwards;
}

.faq-item.inactive .faq-answer {
    animation: dropdown-close 0.5s forwards;
}

@keyframes dropdown-open {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px; 
        opacity: 1;
    }
}

@keyframes dropdown-close {
    from {
        max-height: 500px;
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}

.faq-question::after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 1.5rem;
    transition: transform 0.4s ease;
}

.faq-item.active .faq-question::after {
    transform: rotate(45deg);
}

@media (max-width: 768px) {
    .faq-container {
        padding: 0 10px;
    }

    .faq-question {
        padding: 15px;
        font-size: 1.3rem;
    }

    .faq-answer {
        padding: 10px;
        font-size: 1rem;
    }
    
    .faq-answer ul, .faq-answer ol {
        padding-left: 20px;
        margin-left: 0;
    }
    
    .faq-answer li {
        padding-left: 20px; 
        margin-left: 0; 
        list-style-position: inside; 
    }

    h2 {
        font-size: 1.5rem;
    }

    .faq-category h3 {
        font-size: 1.5rem;
    }
}
