
.alert {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #141414;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    padding: 35px 35px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-100px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none; 
    border-bottom: 2px solid #f0113c;
}

.alert.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; 
    animation: fadeIn 0.5s ease-out, slideIn 0.5s ease-out;
}

.alert.hidden {
    opacity: 0;
    transform: translateY(-100px);
    pointer-events: none; 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.alert-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.alert-message {
    margin: 0;
    flex: 1;
    font-size: 1.2rem;
}

.alert-actions {
    display: flex;
    gap: 10px;
}

.alert-button {
    background-color: #f0113c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.alert-button:hover {
    background-color: #c10e31;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100px); 
    }
    to {
        transform: translateY(0); 
    }
}


.welcome-section {
    text-align: center;
    padding: 40px;
    background-color: #141414;
    border-radius: 15px;
    margin: 20px 0;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(240, 17, 60, 0.6);
}

.welcome-section img {
    max-width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

.welcome-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #f0113c;
    text-transform: capitalize;
}

.welcome-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    text-transform: capitalize;
}


.latest-games-section,
.latest-news-section {
    padding: 40px;
    background-color: #141414;
    border-radius: 15px;
    margin: 20px 0;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(240, 17, 60, 0.6);
}

.latest-games-section h2,
.latest-news-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f0113c;
    text-transform: capitalize;
}

.latest-games-section .game-card,
.latest-news-section .news-card {
    display: flex;
    margin-bottom: 30px;
    background-color: #0b0b0b;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(240, 17, 60, 0.6);
}

.latest-games-section .game-card img,
.latest-news-section .news-card img {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.latest-games-section .game-card .game-info,
.latest-news-section .news-card .news-info {
    flex: 1;
    padding: 20px;
}

.latest-games-section .game-card h3,
.latest-news-section .news-card h3 {
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #F0113C;
}

.latest-games-section .game-card p,
.latest-news-section .news-card p {
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
}

.latest-games-section .game-card .game-info a,
.latest-news-section .news-card .news-info a {
    display: block;
    margin-top: 10px;
    text-transform: capitalize;
}

/* Mobile Optimization */

@media (max-width: 768px) {
    .welcome-section, 
    .latest-games-section, 
    .latest-news-section {
        padding: 20px;
    }

    .welcome-section h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .welcome-section p {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .latest-games-section h2,
    .latest-news-section h2 {
        font-size: 1.8rem;
    }

    .latest-games-section .game-card,
    .latest-news-section .news-card {
        display: block;
    }

    .latest-games-section .game-card img,
    .latest-news-section .news-card img {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .latest-games-section .game-card .game-info,
    .latest-news-section .news-card .news-info {
        padding: 15px;
    }

    .latest-games-section .game-card h3,
    .latest-news-section .news-card h3 {
        font-size: 1.4rem;
    }

    .latest-games-section .game-card p,
    .latest-news-section .news-card p {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .alert {
        padding: 20px 15px;
        font-size: 0.9rem;
    }

    .alert-content {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .alert-message {
        margin-bottom: 10px;
    }

    .alert-actions {
        flex-direction: column;
        gap: 10px;
    }

    .alert-button {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
}
